<div class="banner-tabs tabs-responsive">
   <div class="tabs-container">
        <ul class="nav nav-tabs text-center">
            <li class="active{% if page=='contactus'   %}"><a href="../about/index.html">عن نماء</a></li>
{#            <li><a href="../about/team/index.html">طاقم العمل</a></li>#}
            <li><a href="../about/opinions/index.html">روايات نماء</a></li>
            <li class="active{% if page=='contactus'  or not page %}"><a href="index.html">اتصل بنا</a></li>
        </ul>
       <button class="btn btn-icon btn-link btn-prev" type="button" data-click="prev-tab"><i class="zmdi zmdi-chevron-left"></i></button>
       <button class="btn btn-icon btn-link btn-next" type="button" data-click="next-tab"><i class="zmdi zmdi-chevron-right"></i></button>
   </div>
</div>
