{% extends "templates/web.html" %}

{% block title %} حول نماء {% endblock %}

{% block page_banner %}

      <div class="page-banner page-banner-subpage p-b-0">
            <div class="container">
                <div class="banner-slogan banner-slogan-hero">
                    <h1 class="slogan-title text-center">أهلا بك في نماء  </h1>

                    <h2 class="slogan-desc text-center"> <span class="out-goal-txt">رسالتنا:</span> توفير منظومة إدارية متكاملة للمنظمات الغير ربحية، ذات إحترافية وكفائة عالية، وتتميز بخدمة دعم فني متكاملة، لنحقق بذلك أعلى رضا لعملائنا الذين هم جوهر نجاحنا.</h2>
                </div>

                  <div class="banner-tabs tabs-responsive">
                       <div class="tabs-container">
                            <ul class="nav nav-tabs text-center">
                                <li class="active"><a href="/about-us">عن نماء</a></li>
{#                                <li><a href="/team.html">طاقم العمل</a></li>#}
                                <!--<li><a href="/testimonial.html">روايات نماء</a></li>-->
                                <li class=""><a href="/contact-us">اتصل بنا</a></li>
                            </ul>
                           <button class="btn btn-icon btn-link btn-prev" type="button" data-click="prev-tab"><i class="zmdi zmdi-chevron-left"></i></button>
                           <button class="btn btn-icon btn-link btn-next" type="button" data-click="next-tab"><i class="zmdi zmdi-chevron-right"></i></button>
                       </div>
                </div>
            </div>
        <!-- /.banner-tabs -->
        </div>
        <!-- /.page-banner -->


{%  endblock %}

{% block content %}
    <div class="aboutus">



        <div class="page-section">
            <div class="container">
                <div class="section-row row">
                    <div class="col-sm-6 col-sm-push-6">
                        <div class="section-image">
                            <img src="assets/essal/img/png/logo2.png">
                        </div>
                    </div>
                    <div class="col-md-5 col-sm-6 col-sm-pull-6">
                        <h2 class="section-title">تعرف علينا أكثر...</h2>

                        <p class="section-desc">
                           نماء - أكثر من مجرد برنامج أو نظام، بل هو منظومة متكاملة للإدارة والتحكم في المؤسسات والمنظمات الغير ربحية، يمكن نماء أصحاب الجمعيات من الإبحار في عالم موارد الجمعية ليعطي تحكما كاملا بجميع بياناتها وأجزائها، إضافة إلى خدمة الدعم الفني المتكامل والتدريب الاحترافي، وتجعل اعتماد نماء على التقنيات السحابية  عالما يمكن الوصول له من أي مكان وفي أي وقت ليضمن أفضل النتائج بأقل التكاليف وأسرع الطرق.
                        </p>


                    </div>
                </div>
{#                <div class="features features-icon-left">#}
{#                    <div class="row">#}
{#                        <div class="col-sm-3 col-xs-6" style="padding-top: 5px;">#}
{#                            <div class="display-3 text-primary features-more-display">#}
{#                            </div>#}
{#                            <p>#}
{#                                عدد المستخدمين الذين يثقون بنماء ويعتمدون عليه، يزداد يوما بعد يوم، فهو يوفر لهم جميع ما يحتاجونه لإدارة شركاتهم، من أي مكان، وفي أي وقت، وبكل سهولة أيضا.#}
{#                            </p>#}
{#                        </div>#}
{#                        <div class="col-sm-3 col-xs-6" style="padding-top: 5px;">#}
{#                            <div class="display-3 text-primary features-more-display">#}
{#                            </div>#}
{#                            <p>#}
{##}
{#                                 يعتمد عملاء نماء في جميع معاملاتهم على الخدمات السحابية التي تقدمها نماء فهي أكثر احترافية وأقل تكلفة.#}
{##}
{#                            </p>#}
{#                        </div>#}
{#                        <div class="col-sm-3 col-xs-6" style="padding-top: 5px;">#}
{#                            <div class="display-3 text-primary features-more-display">#}
{#                            </div>#}
{#                            <p>#}
{#                                أنظمة نماء الإدارية تساعد أصحاب الشركات والمؤسسات على التحكم بجميع جوانبها بأسهل الطرق وأسرعها.#}
{##}
{#                            </p>#}
{#                        </div>#}
{#                        <div class="col-sm-3 col-xs-6" style="padding-top: 5px;">#}
{#                            <div class="display-3 text-primary features-more-display">#}
{#                            </div>#}
{#                            <p>#}
{#                                نحن نسعد بعملائنا ونفخر بمساعدتهم للاستفادة من أفضل مميزات نماء، حيث يعمل فريقنا للإجابة على أكثرمن 2000 استفسار شهريا.#}
{##}
{#                            </p>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
            </div>
        </div>


        <div class="page-section">
            <div class="container">
                <h2 class="section-title text-center">ما يميز نماء</h2>

                <div class="features features-icon-right">
                    <div class="row">
                        <div class="col-sm-4 col-xs-12">
                            <div class="feature">
                                 <span class="au-features-icon cloud-ic animate zoomIn"></span>

                                <h3 class="h4">سحابي</h3>

                                <p>
                                    من أي مكان وفي أي وقت يمكنك إدارة موارد الجمعية والربط بين فروعها بكل يسر وسهولة فنماء يعتمد التقنيات السحابية
                                </p>
                            </div>
                        </div>
                        <div class="col-sm-4 col-xs-12">
                            <div class="feature">
                                 <span class="au-features-icon secure-ic animate zoomIn"></span>

                                <h3 class="h4">آمن</h3>

                                <p>
                                    الأمن أولا وقبل كل شيء فنماء يحفظ بياناتك بعيدا عن كل المخاطر ويستخدم أفضل تقنيات حماية البيانات عاليما

                                </p>
                            </div>
                        </div>
                        <div class="clear-xs"></div>
                        <div class="col-sm-4 col-xs-12">
                            <div class="feature">
                                <span class="au-features-icon support-ic animate zoomIn"></span>

                                <h3 class="h4">الدعم الفني</h3>

                                <p>
                                    لا تقلق مهما كانت المشكلة التي تواجهها فمع آليات الدعم الفني المتوفرة في نماء بإمكانك الحصول على أفضل الحلول بأسرع وقت ووأفضل كفائة

                                </p>
                            </div>
                        </div>
                        <div class="clear-sm"></div>
                        <div class="col-sm-4 col-xs-12">
                            <div class="feature">
                                 <span class="au-features-icon update-ic animate zoomIn"></span>

                                <h3 class="h4">التحديث</h3>

                                <p>
                                    يضمن نماء استخدام أحدث التقنيات في عالم التكنولوجيا، والتي تجعل أنظمته في مطلع أنظمة إدارة المنشئات عالميا

                                </p>
                            </div>
                        </div>
                        <div class="clear-xs"></div>
                        <div class="col-sm-4 col-xs-12">
                            <div class="feature">
                                 <span class="au-features-icon responsive-ic animate zoomIn"></span>

                                <h3 class="h4">متوافق</h3>

                                <p>
                                    ما يميز نماء توافقه مع جميع شاشات العرض فبإمكانك الإدارة والتحكم بموارد الجمعية من الجوال أو التابلت أو من حاسوبك الشخصي

                                </p>
                            </div>
                        </div>
                        <div class="col-sm-4 col-xs-12">
                            <div class="feature">
                                 <span class="au-features-icon restore-ic animate zoomIn"></span>

                                <h3 class="h4">النسخ الاحتياطي</h3>

                                <p>
                                    لا تقلق على بيانات شركتك فهناك دائما نسخة احتياطية تحدث بشكل مستمر

                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.page-section -->

        <!-- /.page-section -->
		<div class="page-section section-blue section-center">
		<div class="container">

            <h2 class="section-title">حلّق مع نماء</h2>

            <a class="btn btn-primary-light btn-lg" href="/join_us">
                اشترك الآن
            </a>

{#			<h2 class="section-title">اشترك اﻵن في نماء</h2>#}
{##}
{#			<form method="post" action="" class="register-form">#}
{#				<input type="hidden" name="action" value="register"/>#}
{#								<input style="display: none;" name="email" value="" autocomplete="off">#}
{##}
{#				<div class="register-container">#}
{#					<div class="form-group">#}
{#						<input name="email" class="form-control input-lg" type="text" placeholder="البريد الالكتروني" required/>#}
{#					</div>#}
{#					<div class="form-group">#}
{#						<input name="password" class="form-control input-lg" type="password" placeholder="كلمة المرور" required/>#}
{#					</div>#}
{#					<button class="btn btn-primary-light btn-lg" type="submit">الاشتراك</button>#}
{#				</div>#}
{#			</form>#}

		</div>
	</div>
	<!-- /.page-section -->
    </div>

{% endblock %}

<div>

{% block footer %}
	{%- block top_footer -%}	{% include "templates/includes/footer/top_footer.html" %} {%- endblock -%}
{% endblock %}

</div>