{% extends "templates/web.html" %}

{% block title %} الأسئلة الشائعة  {% endblock %}

{% block page_banner %}
<div class="page-banner page-banner-subpage p-b-0">
    <div class="container">
        <div class="banner-slogan banner-slogan-hero">
            <h1 class="slogan-title text-center"> الأسئلة الشائعة </h1>
        </div>
    </div>
    <!-- /.banner-tabs -->
</div>


{%  endblock %}

{% block content %}
<div class="price-container">


    <!-- /.page-banner -->


    <!-- /.page-section -->
    <!-- Pricing -->
    <div class="secondary-page-section page-section section-center features" style="background-color: white;">
        <div class="row">

                    <div class="col-sm-3" style="padding-right: 50px">
                        <div class="main-sidebar main-sidebar-right main-sidebar-scrollspy">
                            <div class="nav-responsive">
                                <ul class="nav nav-sidebar affix-top">
                                    <li class="">
                                        <a href="#essal-information">
                                            معلومات عن نظام ايصال
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="#registration-packages">
                                            التسجيل والباقات في ايصال
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="#technical-support">
                                            الدعم الفني والنسخ الاحتياطي
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-8" style="text-align: right;">
                        <div id="essal-information" class="content-row">
                            <h2 class="m-t-0">
                                معلومات عن نظام ايصال
                            </h2>
                            <h3 style="color: #1e88e5;" class="h4">

                                ما هو نظام إيصال لإدارة الأعمال؟

                            </h3>
                            <p>

                                نظام إيصال هو منظومة متكاملة من برامج الإدارية والمالية المترابطة تساعدك على
                                إدارة وتشغيل المؤسسة أو الشركة في أي وقت ومن أي مكان من خلال الانترنت.

                            </p>

                            <h3 style="color: #1e88e5;" class="h4">


                                ما هي الوحدات التي يتضمنها نظام إيصال لإدارة الأعمال؟


                            </h3>
                            <p>

                                <ul style="
								padding-right: 30px;">
                                    <li>
                            <p>وحدة الموارد البشرية</p>

                            </li>
                            <li>
                                <p>وحدة المحاسبة </p>

                            </li>
                            <li>
                                <p>وحدة إدارة المبيعات
                                </p>

                            </li>
                            <li>
                                <p>وحدة إدارة المشتريات
                                </p>

                            </li>
                            <li>
                                <p>وحدة إدارة المخازن
                                </p>

                            </li>

                            <li>
                                <p>وحدة إدارة علاقات العملاء
                                </p>

                            </li>

                            <li>
                                <p>وحدة نقاط البيع.

                                </p>

                            </li>

                            <li>
                                <p>وحدة التصنيع والإنتاج

                                </p>

                            </li>
                            </ul>
                            </p>


                            <h3 style="color: #1e88e5;" class="h4">


                                ما هي الشركات التي يخدمها نظام إيصال لإدارة الأعمال؟


                            </h3>

                            <p>

                                <ul style="
								padding-right: 30px;">
                                    <li>
                            <p>الشركات الصغيرة، المتوسطة وكبيرة الحجم.</p>

                            </li>
                            <li>
                                <p>أصحاب المشاريع والأعمال الصغيرة والكبيرة.</p>

                            </li>
                            <li>
                                <p>المحاسبين والإداريين في كل مجال.</p>

                            </li>
                            </ul>
                            </p>


                            <h3 style="color: #1e88e5;" class="h4" id="vat">


                                هل يخدم نظام إيصال الشركات خارج السعودية؟


                            </h3>

                            <p>

                                إيصال هو برنامج سحابي لإدارة الأعمال يخدم أي شركة حول العالم ولا يقتصر على بلد
                                أو قُطر معين.

                            </p>


                        </div>


                        <div id="registration-packages" class="content-row">
                            <h2 class="m-t-0">
                                التسجيل والباقات في ايصال

                            </h2>
                            <h3 style="color: #1e88e5;" class="h4">


                                هل يوجد تسجيل تجريبي في نظام إيصال؟


                            </h3>
                            <p>

                                نعم يوجد تسجيل مجاني تجريبي للنظام لفترة 15 يوماً

                            </p>

                            <h3 style="color: #1e88e5;" class="h4">


                                هل الاشتراك في النظام شهري أم سنوي؟


                            </h3>
                            <p>

                                يدعم لك النظام حرية الاختيار إما الاشتراك الشهري أو السنوي بناء على حاجتك ويكون
                                الاشتراك السنوي أفضل لك من ناحية توفير لتكاليف أكثر وعروض أفضل.

                            </p>


                            <h3 style="color: #1e88e5;" class="h4">


                                كيف يمكنني الاشتراك في أحد باقات نظام إيصال لإدارة الأعمال؟ وكيف يتم تصنيف
                                الباقات؟


                            </h3>

                            <p>

                                يمكنك الاشتراك من خلال الضغط على خانة الأسعار الموجودة بالواجهة الرئيسة ومن ثم
                                احتيار الباقة الملائمة التي تختلف بناء على عدد المستخدمين الذي ينوى المدير
                                ادراجهم لاستخدام الحساب.

                            </p>

                        </div>


                        <div id="technical-support" class="content-row">
                            <h2 id="billingoverview" class="m-t-0">

                                الدعم الفني والنسخ الاحتياطي


                            </h2>
                            <h3 style="color: #1e88e5;" class="h4" id="stoppedinstancecharges">


                                هل يحتوي النظام على آلية دعم فني لتسهيل التعامل مع الوحدات داخل النظام من قبل
                                المستخدم؟


                            </h3>
                            <p>

                                يتميز نظام إيصال لإدارة الأعمال بخاصية الدعم الفني المتكاملة والمفصلة التي تتوفر
                                في ملفات دعم فني متكاملة وفيديوهات شرح تفصيلية عن كل وحدة على حدا، تُمكن
                                المستخدم من التعامل مع كافة أجزاء النظام، وأيضا يتوفر فريق دعم فني متكامل على
                                مدار الساعة.

                            </p>

                            <h3 style="color: #1e88e5;" class="h4">


                                هل يدعم النظام نسخ احتياطي للبيانات؟


                            </h3>
                            <p>


                                نعم يدعم النظام ميزة النسخ الاحتياطي للبيانات مباشرة من قبل المستخدم وبأي وقت.

                            </p>


                            <h3 style="color: #1e88e5;" class="h4">


                                هل يستطيع مدير الشركة نقل البيانات من الشركة إلى النظام مباشرة للبدء باستخدام
                                نظام إيصال؟


                            </h3>

                            <p>

                                نعم يستطيع نقل البيانات على ملف اكسل ويقوم فريق البرمجة الخاصة بنظام إيصال
                                بنقلها للنظام لاستخدامها من قبل مدير الشركة مباشرة مع الحفاظ على السرية التامة
                                لبيانات مدير الشركة.

                            </p>

                        </div>
                    </div>
        </div>
    </div>

    <!-- /.page-section -->
    <div class="page-section section-blue section-center">
        <div class="container">
            <h2 class="section-title">اشترك اﻵن في إيصال</h2>

            <form method="post" action="" class="register-form">
                <input type="hidden" name="action" value="register"/>
                <input style="display: none;" name="email" value="" autocomplete="off">

                <div class="register-container">
                    <div class="form-group">
                        <input name="email" class="form-control input-lg" type="text" placeholder="البريد الالكتروني"
                               required/>
                    </div>
                    <div class="form-group">
                        <input name="password" class="form-control input-lg" type="password" placeholder="كلمة المرور"
                               required/>
                    </div>
                    <button class="btn btn-primary-light btn-lg" type="submit">الاشتراك</button>
                </div>
            </form>

        </div>
    </div>
    <!-- /.page-section -->
</div>

{% endblock %}

<div>
    {% block footer %}
    {%- block top_footer -%} {% include "templates/includes/footer/top_footer.html" %} {%- endblock -%}
    {% endblock %}
</div>
