{% extends "templates/web.html" %}
{% block title %} المميزات {% endblock %}

{% block page_banner %}

      <div class="page-banner page-banner-subpage p-b-0">
			<div class="container">
				<div class="banner-slogan banner-slogan-hero">
					<h1 class="slogan-title text-center">  المميزات  </h1>
					<h2 class="slogan-desc text-center">اشترك الآن وتمتع باستخدام مزايا وتطبيقات هُدهُدً</h2>
				</div>
			</div>
			<!-- /.banner-tabs -->
		</div>
		<!-- /.page-banner -->
{%  endblock %}

{% block content %}


	<div class="features-page">




	<!-- /.page-section -->
		<a name="features"></a>
		<div class="page-section section-center features">

		<div class="row">
        <div class="container">

			<h1 class="section-title">الدقة، الكفاءة، الجودة</h1>

			<p class="section-desc">مجموعة من اﻷنظمة المترابطة و المتكاملة</p>

			<div class="features features-icon-top features-center">
				<div class="row">
					<div class="col-sm-6 col-md-3 col-xs-12">
						<div class="feature">
							<a href="/details?title=نظام المحاسبة">
								<i class="icon icon-lg account-system animate zoomIn"></i>
								<h4>نظام المحاسبة</h4>
							</a>
							<p>
								فوترة جميع المعاملات المحاسبية من: المبيعات والمشتريات والعمليات الأخرى
							</p>
						</div>
					</div>
					<!-- /.feature -->
					<div class="col-sm-6 col-md-3 col-xs-12">
						<div class="feature">
							<a href="/details?title=نظام المبيعات">
								<i class="icon icon-lg payment-system animate zoomIn"></i>
								<h4>نظام المبيعات </h4>
							</a>
							<p>
								المحافظة على تنظيم سجلات البيع بطريقة سهلة،وترتيب عرض الأصناف للزبائن.
							</p>
						</div>
					</div>
					<!-- /.feature -->
					<!-- /.feature -->
					<div class="col-sm-6 col-md-3 col-xs-12">
						<div class="feature">
							<a href="/details?title=نظام نقاط البيع">
								<i class="icon icon-lg pos-system animate zoomIn"></i>
								<h4>نظام نقاط البيع</h4>
							</a>
							<p>

								أدارة نقاط البيع(الكاشير) وتعريف بياناتها وصلاحيتها وربط نقطة البيع بالمخزن الخاص بها
							</p>
						</div>
					</div>
					<!-- /.feature -->
					<div class="clear-xs"></div>
					<div class="col-sm-6 col-md-3 col-xs-12">
						<div class="feature">
							<a href="/details?title=نظام المشتريات">
								<i class="icon icon-lg sales-system animate zoomIn"></i>
								<h4>نظام المشتريات</h4>
							</a>
							<p>تسهيل عمليات الشراء من طلبات واستلام من الموردين والزبائن بشكل فعال</p>
						</div>
					</div>

				</div>
				<div class="row">
						<!-- /.feature -->
					<div class="col-sm-6 col-md-3 col-xs-12">
						<div class="feature">
							<a href="/details?title=إدارة الموارد البشرية">
								<i class="icon icon-lg hr-system animate zoomIn"></i>
								<h4>إدارة الموارد البشرية</h4>
							</a>
							<p>إدارة شئون الموظفين، وتسجيل بياناتهم والإجازات، الرواتب،الحضور والانصراف، ومعاملات الوظائف الشاغرة</p>
						</div>
					</div>
					<!-- /.feature -->

					<div class="col-sm-6 col-md-3 col-xs-12">
						<div class="feature">
							<a href="/details?title=نظام إدارة علاقات العملاء">
								<i class="icon icon-lg customer-system animate zoomIn"></i>
								<h4>نظام إدارة علاقات العملاء</h4>
							</a>
							إدارة علاقة المؤسسة مع الزبائن الحاليين والمحتملين، وتخزين معلومات وتقييم اتصالات الزبائن.
						</div>
					</div>
					<!-- /.feature -->
					<div class="col-sm-6 col-md-3 col-xs-12">
						<div class="feature">
							<a href="/details?title=نظام إدارة المشاريع">
								<i class="icon icon-lg project-system animate zoomIn"></i>
								<h4>نظام إدارة المشاريع</h4>
							</a>
							<p>إدارة المشاريع المختلفة من خلال جدولتها وتحديد الموظفين ومتابعة تنفيذ أنشطة المشروع.</p>
						</div>
					</div>
					<!-- /.feature -->
					<div class="clear-xs"></div>
					<div class="col-sm-6 col-md-3 col-xs-12">
						<div class="feature">
							<a href="/details?title=إدارة التصنيع و الإنتاج">
								<i class="icon icon-lg manufacture-system animate zoomIn"></i>
								<h4>إدارة التصنيع و الإنتاج</h4>
							</a>
							<p>تخطيط تكلفة المنتج، خطة الإنتاج، إنشاء طلبات وعمليات الإنتاج اللازمة.</p>
						</div>
					</div>



				</div>

				<div class="row">
					<!-- /.feature -->
					<div class="col-sm-6 col-md-3 col-xs-12">
						<div class="feature">
							<a href="/details?title=نظام ادارة المخازن">
								<i class="icon icon-lg stock-system animate zoomIn"></i>
								<h4> نظام ادارة المخازن</h4>
							</a>
							<p>
								إدارة المستودعات والمخازن والسلع والتحكم الكامل في عمليات الإدخال والتوزيع

							</p>
						</div>
					</div>
					<!-- /.feature -->

							<!-- /.feature -->
					<div class="col-sm-6 col-md-3 col-xs-12">
						<div class="feature">
							<a href="/details?title=نظام ادارة المهام">
								<i class="icon icon-lg tasks-system animate zoomIn"></i>
								<h4>  نظام ادارة المهام</h4>
							</a>
							<p>
								المساعدة في تسجيل المهام والأنشطة وفق التقويم السنوي ومتابعتها، والدردشة الفورية بين الموظفين.

							</p>
						</div>
					</div>
					<!-- /.feature -->

					<!-- /.feature -->
					<div class="col-sm-6 col-md-3 col-xs-12">
						<div class="feature">
							<a href="/details?title=الدعم الفني">
								<i class="icon icon-lg support-system animate zoomIn"></i>
								<h4>الدعم الفني</h4>
							</a>
							<p>

تتبع طلبات الاستعلام والدعم الفني من الزبائن، وإنشاء تذاكر الدعم الفني الخاصة بكل زبون
							</p>
						</div>
					</div>
					<!-- /.feature -->

					<!-- /.feature -->
					<div class="col-sm-6 col-md-3 col-xs-12">
						<div class="feature">
							<a href="/details?title=الموقع الإلكتروني">
								<i class="icon icon-lg website-system animate zoomIn"></i>
								<h4>الموقع الإلكتروني</h4>
							</a>
							<p>
								إنشاء موقع ومدونة إلكترونية خاصة بأعمالك، وعرض المنتجات بطرق مختلفة

							</p>
						</div>
					</div>
					<!-- /.feature -->




				</div>
				<div class="row">
						<!-- /.feature -->
					<div class="col-sm-6 col-md-3 col-xs-12">
						<div class="feature">
							<a href="/details?title=مدير الملفات">
								<i class="icon icon-lg file-manager-system animate zoomIn"></i>
								<h4> مدير الملفات</h4>
							</a>
							<p>
								استيراد وتصدير الملفات وإدارتها، وإسنادها للموظفين والأقسام المختلفة

							</p>
						</div>
					</div>
					<!-- /.feature -->
				</div>
			</div>
			<!-- /.features -->

		</div>
        </div>
	</div>
	<!-- /.page-section -->
		<div class="page-section section-blue section-center">
		<div class="container">
			<h2 class="section-title">اشترك اﻵن في هُدهُد</h2>

			<form method="post" action="" class="register-form">
				<input type="hidden" name="action" value="register"/>
								<input style="display: none;" name="email" value="" autocomplete="off">

				<div class="register-container">
					<div class="form-group">
						<input name="email" class="form-control input-lg" type="text" placeholder="البريد الالكتروني" required/>
					</div>
					<div class="form-group">
						<input name="password" class="form-control input-lg" type="password" placeholder="كلمة المرور" required/>
					</div>
					<button class="btn btn-primary-light btn-lg" type="submit">الاشتراك</button>
				</div>
			</form>

		</div>
	</div>
	<!-- /.page-section -->
	</div>



{% endblock %}

<div>
	{% block footer %}

		{%- block top_footer -%}	{% include "templates/includes/footer/top_footer.html" %} {%- endblock -%}

	{% endblock %}


</div>