{% extends "templates/web.html" %}
{% block title %} اشترك مع نماء {% endblock %}

{% block page_banner %}

    <div class="page-banner page-banner-subpage p-b-0">
        <div class="container">
            <div class="banner-slogan banner-slogan-hero">
                <h1 class="slogan-title text-center"> اشترك مع نماء </h1>
                <h2 class="slogan-desc text-center">كن جزء من الإبداع، قم بالتسجيل الآن ليكون لك الأولوية عند
                    الإطلاقً</h2>
            </div>
        </div>
        <!-- /.banner-tabs -->
    </div>
    <!-- /.page-banner -->
{% endblock %}

{% block content %}

    <div class="page-main join_us-page">
        <div class="container">
            <div class="row ">
                <div class="col-sm-8 col-sm-offset-2">
                    <div class="card">
                        <div class="card-body">
                            <div class="alert alert-success" role="alert"></div>
                            <div class="alert alert-danger" role="alert"></div>
                            <h2>اشترك مع نماء</h2>
                            <form method="POST">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="name">الإسم</label>
                                            <input name="name"
                                                   value="{{ form_data.name or '' }}"
                                                   class="form-control form-control-lg" id="name"
                                                   type="text"
                                                   placeholder="الإسم"/>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="mobile_number">رقم الجوال</label>
                                            <input name="mobile_number"
                                                   value="{{ form_data.mobile_number or '' }}"
                                                   class="form-control form-control-lg"
                                                   id="mobile_number"
                                                   type="tel"
                                                   placeholder="رقم الجوال"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label for="association_name">إسم الجمعية</label>
                                            <input name="association_name" class="form-control form-control-lg"
                                                   id="association_name"
                                                   type="text"
                                                   value="{{ form_data.association_name or '' }}"
                                                   placeholder="إسم الجمعية"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label for="email">الإيميل</label>
                                            <input name="email" class="form-control form-control-lg" id="email"
                                                   type="email"
                                                   value="{{ form_data.email or '' }}"
                                                   placeholder="الإيميل"
                                                   value="{{ email or '' }}"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="state">المنطقة</label>
                                            <input name="state" class="form-control form-control-lg" id="state"
                                                   type="text"
                                                   placeholder="المنطقة"/>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="city">المدينة</label>
                                            <input name="city" class="form-control form-control-lg" id="city"
                                                   type="text"
                                                   placeholder="المدينة"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="activity">النشاط</label>
                                            <input name="activity" class="form-control form-control-lg" id="activity"
                                                   type="text"
                                                   placeholder="النشاط"/>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">

                                        <div class="form-group">
                                            <label for="employee_count">عدد الموظفين</label>
                                            <input name="employee_count" class="form-control form-control-lg"
                                                   id="employee_count"
                                                   type="number"
                                                   min="0"
                                                   max="5000"
                                                   placeholder="عدد الموظفين"/>
                                        </div>
                                    </div>
                                </div>


                                <button type="button" class="btn  btn-lg btn-block btn-primary join_us-send">اشتراك
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <script>{% include "templates/pages/join_us.js" %}</script>
{% endblock %}

<div>
    {% block footer %}

        {%- block top_footer -%}    {% include "templates/includes/footer/top_footer.html" %} {%- endblock -%}

    {% endblock %}


</div>