<div class="navbar-container">
	<ul class="nav navbar-nav navbar-main">
		<!--
		{%- for page in top_bar_items -%}
			{% if not page.parent_label and not page.right -%}
				{% include "templates/includes/navbar/navbar_link.html" %}
			{%- endif -%}
		{%- endfor %}
		-->
		<a class="btn slogan-desc" href="/home">الرئيسية</a>
		<a class="btn slogan-desc" href="/about-us">تعرف على هُدهُد</a>
		<a class="btn slogan-desc" href="/features">المميزات</a>
		<a class="btn slogan-desc" href="/join-us">اشترك مع هُدهُد</a>
		<a class="btn slogan-desc" href="/contact-us">اتصل بنا</a>
	</ul>

	<ul class="nav navbar-buttons">
		{% if top_bar_items -%}
			{%- for page in top_bar_items -%}
				{% if not page.parent_label and page.right -%}
					{% include "templates/includes/navbar/navbar_link.html" %}
				{%- endif -%}
			{%- endfor %}
		{%- endif %}
		{% if not only_static %}
			{% block navbar_right_extension %}{% endblock %}
		{% endif %}
	</ul>
</div>

