.responsive-image .play:after, .responsive-image .browser:after, .responsive-image .phone:after {

}

.page-banner:after {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    content: "";
    width: 100%;
    min-width: 700px;
    background: #fb613b;
    background: linear-gradient(45deg, #2a3435 1%, #be633d 64%, #fb613b 97%);
    background-image: -ms-linear-gradient(45deg, #2a3435 1%, #be633d 64%, #fb613b 97%);
    background-image: -moz-linear-gradient(45deg, #2a3435 1%, #be633d 64%, #fb613b 97%);
    background-image: -o-linear-gradient(45deg, #2a3435 1%, #be633d 64%, #fb613b 97%);
    background-image: -webkit-linear-gradient(45deg, #2a3435 1%, #be633d 64%, #fb613b 97%);
    background-image: linear-gradient(45deg, #2a3435 1%, #be633d 64%, #fb613b 97%);
}

[data-path="login"] .page-navbar {
    background: linear-gradient(45deg, #2a3435 1%, #be633d 64%, #fb613b 97%) !important;
    height: 120px;
}

.btn-login, .btn-signup, .btn-forgot {
    background: #fb613b !important;
    color: white !important;
}

.section-blue:before {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    min-width: 700px;
    border: none;
    background: #fb613b;
    background: linear-gradient(45deg, #2a3435 1%, #be633d 64%, #fb613b 97%);
    background-image: -ms-linear-gradient(45deg, #2a3435 1%, #be633d 64%, #fb613b 97%);
    background-image: -moz-linear-gradient(45deg, #2a3435 1%, #be633d 64%, #fb613b 97%);
    background-image: -o-linear-gradient(45deg, #2a3435 1%, #be633d 64%, #fb613b 97%);
    background-image: -webkit-linear-gradient(45deg, #2a3435 1%, #be633d 64%, #fb613b 97%);
    background-image: linear-gradient(45deg, #2a3435 1%, #be633d 64%, #fb613b 97%);
}

.btn-primary-light {
    color: #fff;
    background-color: #fb613b;
    border-color: #be633d;
}

.icon {
    color: #fb613b;
}

.btn-primary.btn-outline {
    color: #fb613b;
}

.btn-primary {
    border-color: #fb613b;
    background-color: #fb613b;
}

.btn-primary.btn-outline:hover, .btn-primary.btn-outline:active, .btn-primary.btn-outline.active {
    background-color: #fb613b;
    border-color: #fb613b;
    color: #fff;
}

.btn-primary-light:focus, .btn-primary-light.focus, .btn-primary-light:active, .btn-primary-light.active, .open > .dropdown-toggle.btn-primary-light, .btn-primary-light:hover {
    color: #fff;
    background-color: #be633d;
    border-color: #be633d;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary.focus, .btn-primary:active, .btn-primary.active, .open > .btn-primary {
    color: #fff;
    background-color: #be633d;
    border-color: #be633d;
}

.btn-primary:active:hover, .btn-primary.active:hover, .open > .dropdown-toggle.btn-primary:hover, .btn-primary:active:focus, .btn-primary.active:focus, .open > .dropdown-toggle.btn-primary:focus, .btn-primary:active.focus, .btn-primary.active.focus, .open > .dropdown-toggle.btn-primary.focus {
    color: #fff;
    background-color: #2a3435;
    border-color: #2a3435;
}

.page-footer ul > li > a:hover {
    color: #fb613b;
}

.slogan-desc {
    color: rgba(255, 226, 196, 0.8);
}

.play {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1001;
    cursor: pointer;
    background: #be633d;
    background: linear-gradient(45deg, #2a3435 1%, #be633d 64%, #fb613b 97%);
    background-image: -ms-linear-gradient(45deg, #2a3435 1%, #be633d 64%, #fb613b 97%);
    background-image: -moz-linear-gradient(45deg, #2a3435 1%, #be633d 64%, #fb613b 97%);
    background-image: -o-linear-gradient(45deg, #2a3435 1%, #be633d 64%, #fb613b 97%);
    background-image: -webkit-linear-gradient(45deg, #2a3435 1%, #be633d 64%, #fb613b 97%);
    background-image: linear-gradient(45deg, #2a3435 1%, #be633d 64%, #fb613b 97%);
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}

.join_us-page .alert:empty {
    display: none;
}

.navbar-open .navbar-main a.slogan-desc {
    color: #2a3435;
    display: block;
}

@media (max-width: 767px) {
    .navbar-open .navbar-toggle span {
        background-color: #fb613b;
    }
}
