.sami-img {
	background-image: url(../img/team/sami.png);
	 background-repeat: no-repeat;
}
.ibrahim-img {
	background-image: url(../img/team/ibrahim.png);
}
.abd-img {
	background-image: url(../img/team/abd.png);
}